<!DOCTYPE html>
<html>
<head>
<title>Reddit Ranker</title>
</head>
<body>
  <form action = "{{ url_for('subreddit')}}" method = "POST">  
    <h1 style="color: blue;"> <b>Reddit ID Dashboard</b></h1>
    <p>Here we giving the subreddit rank solutions with time.</p>
    <p>Please give the time ID for the results</p>
    <table style="border: 1px solid black;width: 50%;text-align: center;">
        <tr>
          <th style="border: 1px solid black;">IDNO</th>
          <th style="border: 1px solid black;">DataID</th>
        </tr>
        {% for val in result %}
        <tr>
          <td style="border: 1px solid black;">{{val[0]}}</td>
          <td style="border: 1px solid black;">{{val[1]}}</td>
        </tr>
        {% endfor %}
        <p style="text-align:left;">DataID <input type = "text" name = "dataid" /></p>
        <p style="align-items: baseline;"><input type = "submit" value = "TopSubreddit"/></p>
  </form>
</body>
</html>