<!DOCTYPE html>
<html>
<head>
<title>Reddit Ranker</title>
<link rel="stylesheet" href="subreddit.css">
</head>
<body>
  <form action = "{{ url_for('posts')}}" method = "POST">  
    <h1 style="color: blue;"> <b>Subreddits And Its Ranks</b></h1>
    <p>Here we giving the ranks of subreddits over time.</p>
    <p>Please give the subreddit name to get top posts and its details.</p>
    <table style="border: 1px solid black;width: 50%;text-align: center;">
        <tr>
          <th style="border: 1px solid black;">Rank</th>
          <th style="border: 1px solid black;">Subreddit</th>
          <th style="border: 1px solid black;">score</th>
        </tr>
        {% for val in result %}
        <tr>
          <td style="border: 1px solid black;">{{val[0]}}</td>
          <td style="border: 1px solid black;">{{val[1]}}</td>
          <td style="border: 1px solid black;">{{val[2]}}</td>
        </tr>
        {% endfor %}
        <p style="text-align:left;">Subreddit Name <input type = "text" name = "subreddit" /></p>
        <p style="align-items: baseline;"><input type = "submit" value = "Gotoposts"/></p>
  </form>
</body>
</html>
